@import 'tube-colours';

.tube {

  .bakerloo {
    background-color: $bakerloo-color;
  }

  .central {
    background-color: $central-color;
  }

  .circle {
    background-color: $circle-color;
  }

  .district {
    background-color: $district-color;
  }

  .hammersmith-city {
    background-color: $hammersmith-city-color;
  }

  .jubilee {
    background-color: $jubilee-color;
  }

  .metropolitan {
    background-color: $metropolitan-color;
  }

  .northern {
    background-color: $northern-color;
  }

  .piccadilly {
    background-color: $piccadilly-color;
  }

  .victoria {
    background-color: $victoria-color;
  }

  .waterloo-city {
    background-color: $waterloo-city-color;
  }

  .dlr {
    background-color: $dlr-color;
  }

}

