$bakerloo-color: #B36305;
$central-color: #E32017;
$circle-color: #FFD300;
$district-color: #00782A;
$hammersmith-and-city-color: #F3A9BB;
$jubilee-color: #A0A5A9;
$metropolitan-color: #9B0056;
$northern-color: #000000;
$picadilly-color: #003688;
$victoria-color: #0098D4;
$waterloo-and-city-color: #95CDBA;
$dlr-color: #00A4A7;
$overground-color: #EE7C0E;