//@import 'responsive-grid-system/html5reset';
@import 'responsive-grid-system/col';
@import 'responsive-grid-system/3cols';
@import 'tube-widget';

body {
  font-family: 'Open Sans', sans-serif;
  background-color: black;
  color: white;
}

.tube {
  list-style:none;

  span {
    min-width: 180px;
    display: inline-block;
    padding: 3px;

    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    &.warning {
      background-image: url(/img/warning-white.svg);
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 24px;
      -webkit-filter: grayscale(50%);
      filter: grayscale(50%);
    }
  }
}

.error {
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}

.versionError, .tubeError, .eventsError {
  display: block !important;
}

#time {
  text-align: center;
}