//@import 'responsive-grid-system/html5reset';
@import 'responsive-grid-system/col';
@import 'responsive-grid-system/3cols';

body {
  font-family: 'Open Sans', sans-serif;
  background-color: black;
  color: white;
}

.tube {
  list-style:none;
}

.tube span {
  min-width: 160px;
  display: inline-block;
  padding: 3px;
}